<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.springriders.perfume.common.CommonMapper">
	<select id="selBrandCodeList" parameterType="BrandCodeVO" resultType="BrandCodeVO">
		SELECT p_brand, engNm, korNm FROM c_code_brand
	</select>
	<select id="selNoteCodeList" parameterType="NoteCodeVO" resultType="NoteCodeVO">
		SELECT nt_d_c, nt_d_nm FROM c_nt_d
	</select>
	<select id="selPerfumePk" parameterType="PerfumeVO" resultType="PerfumeVO">
		SELECT MAX(i_p) as i_p FROM t_perfume
	</select>
	
	<insert id="insPerfume" parameterType="PerfumeVO">
		INSERT INTO t_perfume
		(p_price, p_size, p_brand, p_nm, p_pic)
		VALUES
		(#{p_price}, #{p_size}, #{p_brand}, #{p_nm}, #{p_pic})
	</insert>
	<insert id="insPerfumeNote" parameterType="NoteCodeVO">
		INSERT INTO t_note
		(i_p, nt_d_c)
		VALUES
		(#{i_p}, #{nt_d_c})
	</insert>
</mapper>