<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.springriders.perfume.cmt.CmtMapper">
	<insert id="insCmt" parameterType="CmtPARAM">
		INSERT INTO t_perfume_cmt
		(i_p, i_user, cmt)
		VALUES
		(#{i_p}, #{i_user}, #{cmt})
	</insert>
	
	<select id="selCmtList" parameterType="PerfumePARAM" resultType="CmtDMI">
		SELECT A.i_cmt, B.nm, B.profile_img, A.cmt, C.val as gender, B.bd, A.m_dt
		FROM t_perfume_cmt A
		INNER JOIN t_user B
		ON A.i_user = B.i_user
		INNER JOIN c_code_d C
		ON B.gender = C.cd
		WHERE A.i_p = #{i_p}
		AND C.i_m = 1
	</select>
</mapper>