@charset "UTF-8";

* {
	box-sizing: border-box;
}

html, body {
	padding: 0;
	margin: 0;
	width: 100%;
	height: 100%;
	font-family: 'Montserrat';
}

a {
	color: #fff;
	text-decoration: none;
}

.button {
	font-family: 'Montserrat';
	background-color: #fff;
	border: 1px solid #000;	
	padding: 5px;
	cursor: pointer;
	width: 80px;
	height: 30px;
	font-size: 14px;
	text-align: cetner;
	transition: background-color 0.2s;
}

.button:hover, .btn > label:hover {
    background-color: #464646;
    color: #fff;
}

.btn > label, .button:active {
    background-color: #8a8a8a;
}

.btn > label {
    background-color: #fff;
    border: 1px solid #000;
    padding: 5px;
    cursor: pointer;
    width: 80px;
    height: 30px;
	font-size: 14px;
    text-align: center;
    transition: background-color 0.2s;
}

.btn > input[type="file"] {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	border: 0;
}
.font-NotoSans-500 {
	font-family: 'Noto Sans KR';
	font-weight: 500;
}

.ml5 { margin-left: 5px; }
.ml10 { margin-left: 10px; }
.ml15 { margin-left: 15px; }

#container {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
}

#container > header {	
	background-color: #000;
	display: flex;
	height: 70px;
	padding: 10px;
}

#container > header > #headerLeft {
	flex-grow: 1;
	display: flex;
	align-items: center;
}

#container > header > #headerLeft > #main {
	font-size: 24px;
	font-weight: 900;
}

#container > header > #headerRight {
	padding-right: 50px;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	flex-grow: 1;
}

#container > header > #headerRight > a {
	font-weight: bold;
	font-size: 1.4em;
}

#container > section {
	flex-grow: 1;
}

#container > footer {
	align-items: center;
	background-color: #000;
	display:flex;
	height: 50px;
	justify-content: center;
	padding: 10px;
}

#sectionContainerCenter {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.frm {
	padding: 15px;
	border: 1px solid #bdc3c7;
}

.msg {color: #5f5f5f;}

