@charset "UTF-8";

.material-icons { color: red; }

#detailContainer {
	width: 100%;
	height: 2000px;
}

#cmtContainer {
	width: 80%;
	height: 500px;
	margin: 0 auto;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
}

#cmtContainer > #cmtContents {
	width: 80%;
	margin: 0px auto;
	display: flex;
	flex-direction: row;
}

#cmtContainer > .cmt_cnt {
	width: 80%;
	height: 60px;
	margin: 0px auto;
}

#cmtContainer > .cmt_cnt > div {
	margin: 0 auto;
	padding: 20px 0px;
}

#cmtContainer > .cmt_cnt > div > span {
	font-size: 1.2rem;
	font-weight: bold;
}

#cmtContents > .cmt {
	width: 600px;
	height: 150px;
	border: 1px solid black;
	margin-right: 20px;
	margin-bottom: 20px;
}

#cmtContents > .cmt {
	display: flex;
	flex-direction: row;
}

.cmt > div:first-child {
	padding: 0px 10px;
	border-right: 1px solid black;
}

.cmt_userData_userNm_img {
	width: 20px;
	height: 20px;	
}

.cmt_cmt {
	padding: 0px 10px;
}

.cmt_userData_userAge + div {
	display: flex;
	flex-direction: row;
}

.cmt_userData_userAge + div > .cmt_upd {
	width: 50px;
}

.cmt_userData_userAge + div > .cmt_del {
	width: 50px;
}

.cmt_upd_bt {
	cursor: pointer;
}

.cmt_del_bt {
	cursor: pointer;
}

.cmt_upd_bt:hover {
	font-size: 1.2rem;	
}

.cmt_del_bt:hover {
	font-size: 1.2rem;
}

.cmt_box {
	width: 80%;
	height: 500px;
	margin: 0 auto;
}

/* 하트 css */
#favorite {
	cursor: pointer;
}