@charset "UTF-8";

#userFavorite {
	color: red;
	cursor: pointer;
}

#detailContainer {
	display: flex;
}

#sidebar {
	width: 300px;
	min-width: 300px;
	height: 100%;
	padding: 15px;
}

#sidebar>#loginContainer {
	display: flex;
	justify-content: center;
}

#sidebar>#selBrandAlphabet {
	width: 268px;
	height: 120px;
	display: flex;
	align-items: center;
	justify-content: center;
}

#sidebar>#selBrandAlphabet>div {
	width: 240px;
	display: flex;
	flex-wrap: wrap;
}

#sidebar>#selBrandAlphabet>div>p {
	width: 26px;
	margin: 5px 4px;
	font-size: 0.9em;
	cursor: pointer;
	text-align: center;
}

#sidebar>#selBrandAlphabet>div>p:hover {
	font-weight: bolder;
	color: #4a4a4a;
}

#sidebar>#selBrand {
	margin: 30px 0 50px 25px;
}

#sidebar>#selBrand>span {
	font-size: 0.8em;
	cursor: pointer;
}

#sidebar>#selBrand>span:hover {
	font-weight: bolder;
	color: #4a4a4a;
}

#infoContainer {
	width: 1300px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-top: 100px;
	align-items: center;
}

#infoContainer>#infoSection {
	margin: 50px 0 0 200px;
	width: 900px;
	min-width: 900px;
	display: flex;
}

#infoContainer>#infoSection>#detailPic {
	width: 350px;
	height: 350px;
	margin-right: 100px;
}

#infoContainer>#infoSection>#detailPic>img {
	width: 100%;
	height: 100%;
}

#infoContainer>#infoSection>#detailInfo {
	width: 500px;
	padding-left: 20px;
	display: flex;
	flex-direction: column;
}

#infoContainer>#infoSection>#detailInfo>#userFavorite {
	display: flex;
	justify-content: flex-end;
	margin-bottom: 20px;
}

#infoContainer>#infoSection>#detailInfo>#info {
	padding: 10px;
}

#infoContainer>#infoSection>#detailInfo>#info>div {
	margin: 10px 0;
}

#infoContainer>#infoSection>#detailInfo>#info>#b_nm {
	margin-left: 3px;
	font-size: 1.2em;
	font-weight: bolder;
}

#infoContainer>#infoSection>#detailInfo>#info>#p_nm {
	font-size: 1.4em;
	font-weight: 540;
	margin-bottom: 20px;
}

#infoContainer>#infoSection>#detailInfo>#info>#p_size_price {
	margin-left: 3px;
	font-size: 1.1em;
}

#infoContainer>#infoSection>#detailInfo>#info>#p_size_price>span {
	margin: 0 30px 0 0;
	font-size: 0.9em;
}

#infoContainer>#infoSection>#detailInfo>#noteInfo {
	padding: 10px;
	margin-top: 20px;
}

#infoContainer>#infoSection>#detailInfo>#noteInfo>#note>span {
	margin-right: 15px;
}

#infoContainer>#infoSection>#detailInfo>#noteInfo>#title {
	font-size: 1.1em;
	font-weight: bolder;
	margin: 10px 0 15px;
}

#infoContainer>#cmtSection {
	/* border: 1px solid black; */
	margin: 50px 0 0 100px;
	width: 1000px;
	min-width: 1000px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

#infoContainer>#cmtSection>#cmtContainer {
	width: 1000px;
	height: 500px;
	margin-bottom: 30px;
}

#infoContainer>#cmtSection>#cmtContainer>.cmt_cnt>div>.cmt_cnt_text {
	font-weight: bolder;
	font-size: 1.2em;
	margin: 0 0 10px 16px;
}

#infoContainer>#cmtSection>#cmtContainer>#cmtContents {
	display: flex;
	flex-wrap: wrap;
}

#infoContainer>#cmtSection>#cmtContainer>#cmtContents>.cmt {
	display: flex;
	margin: 10px;
	padding: 10px;
	width: 478px;
	border: 1px solid rgba(51, 51, 51, 0.4);
}

#infoContainer>#cmtSection>#cmtContainer>#cmtContents>.cmt>.cmt_user_img
	{
	display: flex;
	align-items: center;
	/*  border: 1px solid red; */
	padding: 0 10px;
}

#infoContainer>#cmtSection>#cmtContainer>#cmtContents>.cmt>.cmt_user_img>img
	{
	width: 60px;
	height: 60px;
	border-radius: 70%;
	overflow: hidden;
	object-fit: cover;
}

#infoContainer>#cmtSection>#cmtContainer>#cmtContents>.cmt>.cmt_userData
	{
	padding: 0 5px;
	width: 130px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

#infoContainer>#cmtSection>#cmtContainer>#cmtContents>.cmt>.cmt_userData>.cmt_userData_userNm>p
	{
	font-weight: bolder;
	margin: 0 0 5px;
}

#infoContainer>#cmtSection>#cmtContainer>#cmtContents>.cmt>.cmt_userData>.cmt_userData_userAge>p
	{
	font-size: 0.9em;
	margin: 5px 0 0;
}

#infoContainer>#cmtSection>#cmtContainer>#cmtContents>.cmt>.cmt_cmt {
	padding: 0 5px;
	width: 280px;
	word-break: break-all;
	/* border: 1px solid green; */
}

#infoContainer>#cmtSection>#cmtContainer>#cmtContents>.cmt>.cmt_cmt>.cmt_userData_sr
	{
	display: flex;
	justify-content: flex-end;
	margin: 5px 0 10px;
}

#infoContainer>#cmtSection>#cmtContainer>#cmtContents>.cmt>.cmt_cmt>.cmt_cmt_data
	{
	height: 100px;
}

#infoContainer>#cmtSection>#cmtContainer>#cmtContents>.cmt>.cmt_cmt>.cmt_cmt_data>p
	{
	margin: 16px 5px 5px 5px;
}

#infoContainer>#cmtSection>#cmtContainer>#cmtContents>.cmt>.cmt_cmt>.cmt_userData_ud
	{
	/* border: 1px solid pink; */
	display: flex;
	justify-content: flex-end;
	margin: 5px 0 10px;
}

#infoContainer>#cmtSection>#cmtContainer>#cmtContents>.emptyCmtContainer
	{
	width: 1000px;
	height: 300px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 3em;
	color: #c0c0c0;
}

#infoContainer>#cmtSection>#cmtContainer>#pageGroup {
	text-align: center;
	margin: 20px 0;
	font-size: 1.2em;
}

#infoContainer>#cmtSection>.cmt_box {
	width: 480px;
}

#infoContainer>#cmtSection>.cmt_box>#cmtInput>div {
	margin: 15px 0;
}

#infoContainer>#cmtSection>.cmt_box>#cmtInput>#cmtInputBtn {
	display: flex;
	justify-content: flex-end;
}

#infoContainer>#cmtSection>.cmt_box>#cmtInput>div>textarea {
	width: 480px;
	height: 100px;
	padding: 10px;
	font-family: 'Montserrat';
	font-size: 14px;
}

#selDivContainer {
	margin: 50px 0 0 100px;
	width: 1300px;
	min-width: 1300px;
}

#selDivContainer>#sel_div {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

#selDivContainer>#sel_div>.brandAlphabet {
	text-align: center;
	width: 230px;
	height: 280px;
	margin: 30px 15px;
}

#selDivContainer>#sel_div>.brandAlphabet>div {
	margin-bottom: 5px;
}

#selDivContainer>#sel_div>.brandAlphabet>div:nth-child(4) {
	display: inline;
	margin-right: 15px;
}

#selDivContainer>#sel_div>.brandAlphabet>div:nth-child(5) {
	display: inline;
}

#selDivContainer>#sel_div>.brandAlphabet>img {
	margin: 20px 0;
	width: 180px;
	height: 180px;
}

#paging {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 1300px;
	height: 100px;
	margin: 50px 0 50px 100px;
}

#pageGroup>.cmt_page {
	cursor: pointer;
}

#pageGroup>.on {
	font-size: 1.2rem;
}
