@charset "UTF-8";

hr {
	margin: 20px 0;
}

input[type="text"], input[type="password"], input[type="date"] {
	padding-left: 20px;
	width: 480px;
	height: 30px;
	margin: 5px 0 10px;
}

span {
	margin-left: 5px;
	font-size: 0.8em;
}

#title {
	width: 60px;
	height: 30px;
	line-height: 30px;
	margin: 20px 0;
	border: 1px solid #333333;
	font-size: 12px;
	font-weight: bold;
	box-sizing: border-box;
	text-align: center;
}

.joinContainer { 
	height: 1200px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.joinContainer > div > #frm > #joinHeader {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.joinContainer > div > #frm > #joinHeader > #btnReturn {
	color: #3e3e3e;
	cursor: pointer;
	margin-top: 10px;
	font-size: 30px;
}

.joinContainer > div > #frm > #joinMain {

}

.joinContainer > div > #frm > #joinMain > #basicInf > div > #selectGender {
	margin-top: 10px;
	display: flex;
	flex-direction: row;
}

.joinContainer > div > #frm > #joinMain > #basicInf > div > #selectGender > div {
	margin-right: 80px;
}

.joinContainer > div > #frm > #joinMain > #basicInf > #user_id {
	display: flex;
	flex-direction: column;
}

.joinContainer > div > #frm > #joinMain > #basicInf > #user_id > #idChk {
	
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}

.joinContainer > div > #frm > #joinMain > #basicInf > #user_id > #idChk > #idChkResult {
	width: 160px;
    margin-left: 32%;
    text-align: right;
    font-size: 12px;
    line-height: 24px;
}

.joinContainer > div > #frm > #joinMain > #basicInf > #user_id > #idChk > button {

}
.joinContainer > div > #frm > #joinMain > #additionalInf > #profileImgContainer > #uploadProfileImg {
	display: flex;
	align-items: center;
	justify-content: center;
}

.joinContainer > div > #frm > #joinMain > #additionalInf > #profileImgContainer > #uploadProfileImg > #profileImg {
	width: 200px;
	height: 200px;
	margin: 30px 0;
	border: 1px solid black;
	border-radius: 100px;
	overflow: hidden;
}

.joinContainer > div > #frm > #joinMain > #additionalInf > #profileImgContainer > #uploadProfileImg > #profileImg > img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.joinContainer > div > #frm > #joinMain > #additionalInf > #profileImgContainer > #btn {
	display: flex;
	justify-content: flex-end;
	font-size: 14px;
}

.joinContainer > div > #frm > #joinMain > #additionalInf > #noteContainer > #noteContainerTitle {
	margin: 20px 0;
}

.joinContainer > div > #frm > #joinMain > #additionalInf > #noteContainer > #noteList{	
	display: flex;
	flex-direction: column;
	justify-content: center;	
}

.joinContainer > div > #frm > #joinMain > #additionalInf > #noteContainer > #noteList > div > div {
	width: 150px;
}

.joinContainer > div > #frm > #joinMain > #additionalInf > #noteContainer > #noteList > div {
	margin-bottom:5px;
	display: flex;
}

.joinContainer > div > #frm > #joinFooter {
	display: flex;
	justify-content: flex-end;
}

.joinContainer > div > #frm > #joinFooter > input {
	margin-left: 10px;
}


