@charset "UTF-8";
.container { 
  position: absolute;
  width: 400px; 
  height: 400px; 
  text-align: center; 
  margin-left: -200px; 
  margin-top: -200px; 
  left: 50%; 
  top: 50%; 
}

.box {
    width: 150px;
    height: 150px; 
    border-radius: 70%;
    overflow: hidden;
}

a {
	color: #000;
}
