@charset "UTF-8";

#btnLogout {
	text-decoration: none;
	color: #000;	
}

.box {
    width: 150px;
    height: 150px; 
    border-radius: 70%;
    overflow: hidden;
}
.profile {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.material-icons {
	color: red;
}

.swiper-container {
    width: 100%;
    height: 100%;
}

.swiper-slide {
  	text-align: center;
  	font-size: 18px;
  	background: #fff;
	
	/* Center slide text vertically */
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
}

.material-icons { color: red; }
