@charset "UTF-8";

#topPerfume {
   display: flex;
   flex-direction: column;
   min-width: 1300px;
}

#topPerfume > #topPerfumeTitle {
   font-weight: bolder;
   text-align: center;
   font-size: 1.5em;
   margin: 50px 0 50px;
}

#topPerfume > #topPerfumeList {
   display: flex;
   flex-direction: row;
   justify-content: center;
}

#topPerfume > #topPerfumeList > #topPerfumeItem {
   text-align: center;
   width: 250px;
   height: 400px;
   margin: 0 15px;
}

#topPerfume > #topPerfumeList > #topPerfumeItem > #topPerfumeNm {
   width: 230px;
   text-overflow: ellipsis;
   white-space: nowrap;
   overflow: hidden;
   margin-left: 10px;
}

#topPerfume > #topPerfumeList > #topPerfumeItem > #topPImg {
   display: flex;
   justify-content: center;
   align-items: center;
}

#topPerfume > #topPerfumeList > #topPerfumeItem > #topPImg > img {
   margin: 20px 0;
   width: 220px;
   height: 220px;
}

#recPerfume > #recPerfumeTitle {
   font-weight: bolder;
   text-align: center;
   font-size: 1.5em;
   margin: 50px 0 0px;
}


.material-icons {
   color: red;
}

.perfumeMain{
   text-align: center;
   margin-top: 20px;
   display: flex;  
   flex-wrap: wrap;   
}

#brandContainer {
   display: flex;
   flex-direction: column;
   justify-content: center;
   padding-right: 300px;
}

#recPerfume {
   min-width: 1300px;
}

.swiper-container {
   width: 70%;
   height: 400px;
}

.swiper-slide {
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
} 

.swiper-slide img {
   max-width: 100%;
   width: 200px;
   height: 200px;
}

.material-icons { color: red; }


.swiper-button-prev, .swiper-button-next, .swiper-pagination {
   color: #535353;
   font-weight: bolder;
}



